/* Login And Registration */


@import url('https://fonts.googleapis.com/css?family=Numans');

.container {
  height: 100%;
  align-content: center;
  font-family: 'Open Sans', sans-serif;
}

.card {
  height: 370px;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 400px;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175);
  border-radius: 20px;
  padding: 15px;
}

.social_icon span:hover {
  color: white;
  cursor: pointer;
}

h3 {
  color: #247cff;
  font-weight: bold;
  padding: 20px;
}

.social_icon {
  position: absolute;
  right: 20px;
  top: -45px;
}

.input-group-prepend span {
  width: 50px;
  color: #247cff;
  background-color: white;
  border: 0 !important;
  /* padding: 10px 10px 10px 10px; */
}

input:focus {
  outline: 0 0 0 0 !important;
  box-shadow: 0 0 0 0 !important;

}

.remember {
  color: darkgray;
  font-size: small;
  margin-left: 40px;
}

.remember input {
  width: 20px;
  height: 20px;
  margin-left: 10px;
  margin-right: 5px;
  margin-top: 10px;
}

.fgt-password a {
  text-decoration: solid;
}

.links {
  color: darkgrey;
}

.links a {
  margin-left: 10px;
  text-decoration: solid;
}

.form-control {
  margin-bottom: 10px;
  border-radius: 10px 10px;
}

.input-group-text {
  margin-top: 3px;
  margin-right: 2px;
}


/* =============================================================================== */