html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.app-container{
    max-width: 130rem;
    padding: 0 3.2rem;
    margin: 0 auto;
    /* background-color: green; */
  }