*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "EB Garamond", serif;
  /* font-family: "Montserrat", sans-serif; */
}

:root {
  --gray-hue: 240;
  --color-primary: #272643;
  --color-primary-dark: #1e1e2f;
  --color-gray-100: hsl(var(--gray-hue), 47%, 94%);
  --color-gray-200: hsl(var(--gray-hue), 26%, 75%);
  --color-gray-300: hsl(var(--gray-hue), 24%, 64%);
  --color-gray-400: hsl(var(--gray-hue), 16%, 41%);
  --color-gray-500: hsl(var(--gray-hue), 48%, 25%);
  --color-gray-600: hsl(var(--gray-hue), 48%, 15%);
  --color-black: #000;
  --color-white: #fff;

  --container-width-lg: 80%;
  --container-width-md: 90%;

  --transition: all 500ms ease;
}

/* General Styles */

body {
  line-height: 1.7;
  overflow-x: hidden;
}

.container {
  width: var(--container-width-lg);
  max-width: 1920px;
  /* margin: 0 auto; */
  margin-inline: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 1.5rem;
}
