.Service {
    --white-color: #FFFFFF;
    --primary-color: #247cff;
    --section-bg-color: #F9F9F9;
    --dark-color: #095484;
    --title-color: #565758;
    --p-color: #717275;
    --border-color: #eaeaea;

    --body-font-family: 'Open Sans', sans-serif;

    --h1-font-size: 48px;
    --h2-font-size: 36px;
    --h3-font-size: 32px;
    --h4-font-size: 28px;
    --h5-font-size: 24px;
    --h6-font-size: 22px;
    --p-font-size: 18px;
    --menu-font-size: 16px;

    --font-weight-light: 300;
    --font-weight-normal: 400;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
}

.wallpaper {
    padding: 40px 0px 40px 0px;
    margin: 0;
    outline: none;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    line-height: 22px;
}

.title {
    margin: 15px 0 4px;
    font-weight: 600;
    color: var(--primary-color);
}

.cd {
    margin: 15px 0 4px;
    font-weight: 400;
    color: var(--dark-color);
    font-size: medium;
}

.sp {
    color: red;
}

.fm {
    width: 100%;
    padding: 50px;
    background: var(--white-color);
    border-radius: 20px;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175);
}

.inp {
    width: calc(100% - 0px);
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    vertical-align: middle;
}

.inp:hover,
.txt:hover,
.sl:hover {
    outline: none;
    border: 1px solid var(--primary-color);
}

.name input {
    margin-bottom: 10px;
}

.sl {
    padding: 7px px;
    border-radius: 3px;
    border: 1px solid #ccc;
    background: var(--white-color);
}

.opt {
    background: var(--white-color);
}

.sl,
.tbl {
    width: 100%;
}

.day-visited {
    position: relative;
}

.day-visited input {
    width: calc(100% - -3px);
    background: var(--white-color);
}

input[type="date"]::-webkit-inner-spin-button {
    display: none;
}

input[type="time"]::-webkit-inner-spin-button {
    margin: 2px 22px 0 0;
}

.day-visited i,
input[type="date"]::-webkit-calendar-picker-indicator {
    position: absolute;
    top: 8px;
    font-size: 20px;
}

.day-visited i {
    right: 5px;
    z-index: 1;
    color: #a9a9a9;
}

[type="date"]::-webkit-calendar-picker-indicator {
    right: 0;
    z-index: 2;
    opacity: 0;
}

.question-answer label {
    display: block;
    padding: 0 20px 10px 0;
}

.question-answer input {
    width: auto;
    margin-top: -2px;
}

.tblheading,
.tbldata {
    width: 18%;
    padding: 15px 0;
    border-bottom: 0.5px solid #ccc;
    text-align: center;
    vertical-align: unset;
    line-height: 18px;
    font-weight: 400;
    word-break: break-all;
}

.first-col {
    width: 30%;
    text-align: left;
}

.txtclarea {
    width: calc(100% - 6px);
}

@media (min-width: 568px) {
    .name {
        display: flex;
        justify-content: space-between;
    }

    .name input {
        width: 47%;
        margin-bottom: 0;
    }

    .tblheading,
    .tbldata {
        word-break: keep-all;
    }
}


/* ============================================================================================================================= */


.covershift {
    width: 10vh;
}

.little {
    margin-top: 30px;
    margin-bottom: 25px;
    text-align: center;
    font-size: var(--h5-font-size);
}

/* Contact Us Page */
/* ============================================================================================================================= */


.marginGiven {
    margin-top: 150px;
    margin-bottom: 150px;
}

.btn3 {
    width: 150px;
    padding: 10px;
    border: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #095484;
    font-size: 16px;
    color: var(--white-color);
    cursor: pointer;
}

.btn3:hover {
    background-color: #095484;
}

.tblhead {
    color: red;
}

.tblhead2 {
    color: #247cff;
}