.change {
  border-radius: 30px;
  height: 450px;
}

.image {
  padding: 20 20 20 20;
  margin-right: 10px;
}

.paragraph {
  color: #2b4252;
}

/* Chat bot */
.chatbot {
  position: fixed;
  bottom: -4px;
  right: 10px;
  background-color: #3b586b;
  border-radius: 40px;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.chatbot-button {
  color: #fff;
  background-color: #3b586b;
  border-radius: 25px;
  border: 0 #3b586b;
  font-size: 12px;
  padding: 10px;
}

.chatbot-button:hover {
  font-size: 14px;
  background-color: #2b4252;
}

/* Sections */

.first-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
}

.flex-container {
  width: 700px;
  min-height: 191px;
  margin-bottom: 30px;
  padding-top: 20px;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.flex-item {
  width: 26.6666666667%;
  height: 200px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px;
  padding: 20px;
}

.flex-item > h4 {
  font-size: 15px;
  margin-bottom: 20px;
  color: #f4511e;
  text-align: center;
}

.flex-item > p {
  font-size: 12px;
  color: #3b586b;
  text-align: center;
}

.section-container-grey {
  width: 100%;
  background: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  margin-top: 10px;
}

.section-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* animation to change colors */
@keyframes changeColor {
  0% {
    color: #229318;
  }
  50% {
    color: #eac921;
  }
  100% {
    color: #f4511e;
  }
}

.mboalab {
  animation-name: changeColor;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.facts-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.fact {
  font-size: 18px;
  color: rgb(21, 20, 20);
  margin: 40px;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.2) 0px 1px 0px;
}

.facts-container > span {
  font-size: 25px;
  /* font-weight: 600; */
  color: #fff !important;
  /* margin-top: 20px; */
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 8px;
  background-color: #3b586b8d;
  text-align: center;
  /* letter-spacing: 1px; */
}

strong {
  color: #3b586b;
}

.paragraph {
  text-align: center;
  font-size: 14px;
}

.button {
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  width: 140px;
  height: 40px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  padding: 0;
  color: #fff;
}

h3 {
  text-transform: uppercase;
}

h6 {
  font-style: italic;
  /* bold the text */
  font-weight: bold;
}

/* 
Responsiveness
 */
@media screen and (max-width: 768px) {
  .section-container {
    flex-direction: column;
  }

  .flex-container {
    gap: 30px;
    margin-top: 30px;
    margin-bottom: 50px;
    justify-content: center;
    width: 90%;
  }

  .flex-item {
    width: 100%;
    height: 200px;
  }

  .flex-item > p {
    width: 100%;
  }

  .image {
    margin-right: 0px;
  }

  .chatbot {
    bottom: 0px;
    right: 0px;
  }

  .chatbot-button {
    font-size: 12px;
    padding: 10px;
  }

  .chatbot-button:hover {
    font-size: 14px;
  }

  .button {
    width: 100px;
    height: 30px;
  }
  .get-started {
    margin-top: 10px;
  }

  .paragraph {
    font-size: 12px;
  }

  .title {
    font-size: 24px;
    width: 80%;
    text-align: center;
  }
}

/* mobile view */

@media screen and (max-width: 480px) {
  .section-container {
    flex-direction: column;
  }

  .first-container {
    height: 100%;
  }

  .flex-container {
    flex-direction: column;
    gap: 0;
    margin-top: 10px;
    margin-bottom: 20px;
    justify-content: center;
    width: 60%;
    padding-top: 0;
  }

  .flex-item {
    width: 100%;
    height: 139px;
    box-shadow: none;
    padding-top: 0;
  }
  .flex-item-1 {
  }

  .flex-item > h4 {
    margin-top: 30px;
  }
  .flex-item > p {
    width: 100%;
  }

  .button-container {
    margin-bottom: 50px;
  }

  .image {
    margin-right: 0px;
  }

  .chatbot {
    bottom: 0px;
    right: 0px;
  }

  .chatbot-button {
    font-size: 12px;
    padding: 10px;
  }

  .chatbot-button:hover {
    font-size: 14px;
  }

  .button {
    width: 100px;
    height: 30px;
  }
  .button {
    font-size: 10px;
  }

  .paragraph {
    font-size: 12px;
  }

  .title {
    font-size: 24px;
    width: 90%;
    text-align: center;
    margin-top: 20px;
  }

  .get-started {
    margin-top: 20px;
  }

  .google-map-code {
    display: none;
  }

  .facts-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .fact {
    font-size: 12px;
    color: #fff;
    margin: 40px;
    text-align: center;
  }

  .facts-container > span {
    font-size: 14px;
    font-weight: 400;
    color: #fff !important;
    margin-top: 20px;
    text-align: center;
    /* letter-spacing: 1px; */
  }
}

/* galaxy fold view */

@media screen and (max-width: 280px) {
  .section-container {
    flex-direction: column;
  }

  .flex-container {
    width: 100%;
  }

  .image {
    margin-right: 0px;
  }

  .chatbot {
    bottom: 0px;
    right: 0px;
  }

  .chatbot-button {
    font-size: 12px;
    padding: 10px;
  }

  .chatbot-button:hover {
    font-size: 14px;
  }

  .button {
    width: 100px;
    height: 30px;
  }
  .button {
    font-size: 10px;
  }

  .paragraph {
    font-size: 12px;
  }

  .title {
    font-size: 20px;
    width: 80%;
  }

  .get-started {
    margin-top: 0;
    margin-bottom: 0;
  }

  .google-map-code {
    display: none;
  }
}

@media screen and (max-width: 1024px) {
  .section-container {
    flex-direction: column;
  }

  .first-container {
    height: 100%;
  }
  .image {
    margin-right: 0px;
  }

  .chatbot {
    bottom: 0px;
    right: 0px;
  }

  .chatbot-button {
    font-size: 12px;
    padding: 10px;
  }

  .chatbot-button:hover {
    font-size: 14px;
  }

  .button {
    width: 100px;
    height: 30px;
  }
  .button {
    font-size: 10px;
  }

  .paragraph {
    font-size: 12px;
  }

  .title {
    font-size: 24px;
    width: 80%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .get-started {
    margin-top: 0px;
    /* margin-bottom: 50px; */
  }

  .google-map-code {
    display: none;
  }
}
