.login-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;

  .login__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;

    h1 {
      margin-bottom: 20px;
      font-size: 1.5rem;
      font-weight: 500;
      text-decoration: underline;
      text-decoration-color: var(--color-primary);
      color: var(--color-primary);
    }

    .login__form {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      max-width: 400px;

      label {
        width: 100%;
        margin-bottom: 20px;
        border-bottom: 1px solid var(--color-primary);

        input {
          width: 100%;
          padding: 10px;
          border: none;
          outline: none;
          color: var(--color-primary);
          background-color: #fff;
          font-size: 1.2rem;
        }

        ::placeholder {
          color: var(--color-primary);
        }

        :focus {
          border-bottom: 1.5px solid var(--color-primary);
        }
      }

      .login__button {
        width: 100%;
        padding: 10px;
        background-color: var(--color-primary);
        color: #fff;
        margin-bottom: 20px;
        font-size: 1.2rem;

        &:hover {
          background-color: var(--color-primary-dark);
          cursor: pointer;
        }
      }
    }

    .to-signup {
      font-size: 1.2rem;
      color: var(--color-primary);

      a {
        text-decoration: underline;
        text-decoration-color: var(--color-primary);
        color: var(--color-primary);
      }

      &:hover {
        cursor: pointer;
        text-decoration: none;
      }
    }

    .login__social-links {
      margin-top: 1rem;

      p {
        font-size: 1.2rem;
      }

      .social-links {
        display: flex;
        align-items: center;
        justify-content: center;

        .social-link {
          margin: 0 0.5rem;
          font-size: 1.5rem;
          color: var(--color-primary);
          cursor: pointer;

          &:hover {
            color: var(--color-secondary);
          }
        }
      }
    }
  }
}
