.comments {
    font-family: 'Open Sans', sans-serif;
}


.comment-heading {
    color: #095484;
    margin-top: 30px;
}

.my-form {
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 50px;
}